<section>
    <!-- add max-height -->
    <!-- [style]="{ height: '100%', 'max-height': '100%'}"  -->
    <p-dialog [header]="pDialogHeader" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false">
        <p>
            {{ pDialogMessage }}
        </p>
        <div style="display: grid; place-items: center;">
            @if(pDialogHeader === 'Opponent disconnected' || pDialogHeader === 'You Lost' || pDialogHeader === 'You Won') {
                <button pButton pRipple label="OK" (click)="redirectToProblems()"></button>
            }@else {
                <p-progressSpinner [style]="{width: '50px', height: '50px'}" ariaLabel="loading"></p-progressSpinner>
            }
        </div>
    </p-dialog>
    @defer (when (question.id > 0)){
    <p-splitter 
    class="splitter" [minSizes]="[30,30]" [panelSizes]="[45,55]">
        <ng-template pTemplate>
            <div class="panel" style="overflow-y: auto;">
                <app-question
                [question]="question"
                ></app-question>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <p-splitter [minSizes]="[30,30]" [panelSizes]="[50,50]" 
            layout="vertical">
                <ng-template pTemplate>
                    <div class="panel">
                        <app-monaco-editor [question]="question">
                        </app-monaco-editor>
                    </div>
                </ng-template>
                <ng-template pTemplate>
                    <div class="panel input-panel">
                        <div>
                            <h4 (click)="switchIsTestcase(true)">Test Case</h4>
                            <h4 (click)="switchIsTestcase(false)">Output</h4>
                        </div>
                        @if (getIsTestcase()) {
                            <textarea class="input"
                            [(ngModel)]="question.defaultInputs"
                            (input)="onDefaultInputs($event.target)">
                        </textarea>
                        }@else {
                            <div style="display: flex; flex-direction: column;">
                                @if (errorString!='') {
                                    <div>
                                        <h2 style="color: var(--red-500)">Error</h2>
                                        <div class="bark-box">
                                            <p style="color: var(--red-500)">{{ errorString }}</p>
                                        </div>
                                    </div>
                                }@else if(testCaseLength > 0){
                                    <div>
                                        <h2 [ngStyle]="{color: isAllTestCasesPassed? 'var(--green-500)' : 'var(--red-500)'}">
                                            {{ (isAllTestCasesPassed? 'Accepted' : 'Wrong Answer') }}
                                        </h2>
                                        <p>
                                            Runtime: {{ runtime }} ms, Memory: {{ memory }} KB
                                        </p>
                                    </div>
                                    <p-tabView [scrollable]="true">
                                        <p-tabPanel *ngFor="let item of testCases$ | async; let i = index" header="Case {{i + 1}}">
                                            <ng-template pTemplate="header">
                                                @if (item.isPassed) {
                                                        <i style="color: green" class="pi pi-check"></i>
                                                }@else {
                                                    <i style="color: red" class="pi pi-times"></i>
                                                }
                                                <span>Case {{i + 1}}</span>
                                            </ng-template>
                                            <div>
                                                <h4>Input:</h4>
                                                <div class="bark-box">
                                                    @for (item of item.input.split('/n'); track $index) {
                                                        <pre>{{ item }}</pre>
                                                    }
                                                </div>
                                                <h4>Output:</h4><div class="bark-box"><pre> {{ item.output }}</pre></div>
                                                <h4>Expected:</h4><div class="bark-box"><pre> {{ item.expected }}</pre></div>
                                              </div>
                                        </p-tabPanel>
                                    </p-tabView>
                                }
                            </div>
                        }
                    </div>
                </ng-template>
            </p-splitter>
        </ng-template>
    </p-splitter>
    }@placeholder {
        <div class="h_skeleton">
            <!-- <p>1</p>
            <p>2</p> -->
            <p-skeleton width="100%" height="100%"></p-skeleton>
            <div class="v_skeleton">
                <p-skeleton width="100%" height="100%"></p-skeleton>
                <p-skeleton width="100%" height="100%"></p-skeleton>
            </div>
        </div>
    }
</section>