<section>
    <div class="registerForm-container">
        <div class="logo">
            <app-logo></app-logo>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="flex flex-col gap-2">
                <label for="username">Username</label>
                <input type="text" pInputText id="username" formControlName="username">
                <!-- <small id="username-help">Enter your username to reset your password.</small> -->
            </div>
            <div class="flex flex-col gap-2">
                <label for="password">Password</label>
                <input type="password" pInputText id="password" formControlName="password">
                <!-- <small id="password-help">Enter your password to reset your password.</small> -->
            </div>
            <div class="flex flex-col gap-2">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" pInputText id="confirmPassword" formControlName="confirmPassword">
                <!-- <small id="confirmPassword-help">Enter your password to reset your password.</small> -->
            </div>
            <div class="flex flex-col gap-2">
                <label for="email">Email</label>
                <input type="email" pInputText id="email" formControlName="email">
                <!-- <small id="email-help">Enter your email to reset your password.</small> -->
            </div>
            <button type="submit" pButton pRipple label="Register"></button>
            <div class="links">
                <p>Have an account? <a routerLink="/login">Login</a></p>
            </div>
        </form>
    </div>
</section>