section{
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: var(--size-1);
}
section, main{
    height: 100%;
}
nav{
    display: flex;
    gap: var(--size-1);
    justify-content: space-between;
    padding: calc(var(--size-0-5)) var(--size-2);
    background: var(--surface-card);
    box-shadow: var(--focus-ring);
    border-radius: var(--size-3);
}
