<!-- if(!isProblemPage()) set width to 1400px else 100% on main-->
<section [ngStyle]="{'max-width': isProblemPage()? '100%' : '1400px'}">
    <header>
        @if(!isProblemPage()){
            <app-navbar></app-navbar>
        }@else {
            <nav>
                <app-logo></app-logo>
                <div class="outer">
                    <div class="inner">
                        <i class="pi pi-play"></i>
                        <p>Run</p>
                    </div>
                    <div class="inner">
                        <i class="pi pi-check"></i>
                        <p>Submit</p>
                    </div>
                </div>
                <app-timer></app-timer>
            </nav>
        }
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    @if(!isProblemPage()){
        <footer>
        </footer>
    }
</section>