<!-- if(!isProblemPage()) set width to 1400px else 100% on main-->
<section [ngStyle]="{'max-width': isProblemPage()? '100%' : '1400px'}">
    <header>
        @if(!isProblemPage()){
            <app-navbar></app-navbar>
        }@else {
            <nav>
                <app-logo></app-logo>
                <app-timer></app-timer>
            </nav>
        }
    </header>
    <main>
        <router-outlet></router-outlet>
    </main>
    @if(!isProblemPage()){
        <footer>
            Copyright © 2024 Be Dev
        </footer>
    }
</section>