<section>
    <div class="overlay">
        <ngx-typed-js class="heading"
            [strings]="['to crack any coding interview.', 'to get hired by top companies.']"
            [shuffle]="true" [typeSpeed]="40" [loop]="true" [backSpeed]="70" [backDelay]="100">
            <h1>Prepare Yourself <span class="typing"></span></h1>
        </ngx-typed-js>
        <img src="assets/images/home.jpg" alt="Be Devs">
    </div>
    <!-- @defer(on viewport; on interaction(explore)) { -->
    @defer(on viewport; on timer(10s)) {
        <section id="explore">
            <app-image-card
            title="Practice coding, prepare for interviews, and get hired"
            description="Access the best resources to prepare for your coding interviews, solve real-world problems, and get hired by top companies."
            imageUrl="assets/images/smiling-man-couch-holding-laptop.jpg"
            [imageOnLeft]="false">
            </app-image-card>
        
            <app-image-card
            title="Master Data Structures & Algorithms"
            description="Learn and practice with interactive problems, visualize algorithms with animations, and track your progress with personalized insights."
            imageUrl="assets/images/DSA.jpeg"
            [imageOnLeft]="true">
            </app-image-card>
        
            <app-image-card
            title="Solve Real-World Problems"
            description="Practice with problems curated by experts from real-world scenarios. Get detailed explanations and learn the best practices to solve problems efficiently."
            imageUrl="assets/images/solve real.jpg"
            [imageOnLeft]="false">
            </app-image-card>
        
            <app-image-card
            title="Collaborate with Friends"
            description="Work together with your friends on coding projects and challenges to enhance your skills. Solve problems from top companies, and get hired by top companies. Get personalized recommendations and prepare for your interviews."
            imageUrl="assets/images/Be Devs.jpg"
            [imageOnLeft]="true">
            </app-image-card>

            <app-image-card
            title="Compete with Friends"
            description="Challenge your friends in coding competitions and showcase your coding skills to the community."
            imageUrl="assets/images/CWF.jpg"
            [imageOnLeft]="false">
            </app-image-card>

            <app-image-card
            title="Compete Online"
            description="Participate in our online coding contests from the comfort of your home. Compete with coders from around the world and win exciting prizes."
            imageUrl="assets/images/CO3.jpg"
            [imageOnLeft]="true">
            </app-image-card>
        </section>
    }@placeholder {
        <section>
            <p-skeleton width="100%" height="150px"></p-skeleton>
            <p-skeleton width="100%" height="150px"></p-skeleton>
            <p-skeleton width="100%" height="150px"></p-skeleton>
            <p-skeleton width="100%" height="150px"></p-skeleton>
        </section>
    }
</section>